---
layout: post-index
title: A Link Forwarder for Tufts Projects
description: "A Link Forwarder for Tufts Projects"
comments: false
color1: "#33BEB2"
color2: "#258B83"
---

{% for post in paginator.posts %}
  {% unless post.hidden %}
    <article class="hentry">
      <header>
        {% if post.image.feature %}
          <div class="entry-image-index">
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title | downcase | replace: ' ', '-' }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title | downcase | replace: ' ', '-' }}"></a>
          </div><!-- /.entry-image -->
        {% endif %}
        <div class="entry-meta">
          <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn">{{ post.author }}</span></span>
        </div><!-- /.entry-meta -->
        {% if post.link %}
          <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title | downcase | replace: ' ', '-' }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title | downcase | replace: ' ', '-' }}</a></h1>
        {% else %}
          <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title | downcase | replace: ' ', '-' }}" itemprop="url">/{{ post.title | downcase | replace: ' ', '-' }}</a></h1>
        {% endif %}
      </header>
      <div class="entry-content">
        {{ post.description }}
        {{ post.content }}
      </div><!-- /.entry-content -->
    </article><!-- /.hentry -->
  {% endunless %}
{% endfor %}

{% include pagination.html %}
