<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
{% include global-scripts.html %}
{% if page.header %}
  {% include background.html %}
{% endif %}
</head>

<body id="page" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}

<div id="main" role="main">
  <article class="hentry">
    {% if page.header %}
      <div class="entry-header header-section">
        <ul class="bg-bubbles"> <!-- credit: codepen.io/Lewitje/pen/BNNJjo -->
          <div class="header-text">
            <h1>{{ page.title }}</h1>
          </div>
          {% if page.animate %}
          <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
          {% endif %}
        </ul>
      </div>
    {% else %}
      <header class="header-title">
        <div class="header-title-wrap">
          <h1 class="entry-title">{{ page.title }}</h1>
        </div>
      </header>
    {% endif %}
    <div class="entry-content">
      {{ content }}
      <footer class="entry-meta">
        {% if page.modified %}<span>Updated on <span class="entry-date date published updated"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time></span></span>
        <span class="author vcard"><span class="fn">{{ site.owner.name }}</span></span>{% endif %}
      </footer>
    </div><!-- /.entry-content -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
