<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
{% include link-checker.html %}
{% include background.html %}
<script src="https://widget.battleforthenet.com/widget.js" async></script>
</head>

<style type="text/css">
  .row {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }

  input[type="text"] {
    outline: none;
    width: 50%;
    height: 40px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 3px;
    text-align: center;
    transition: all 0.3s cubic-bezier(1, .1, 0, 0.9);
    margin-bottom: 10px;
  }
</style>

<body id="post-index" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}

<div class="entry-header header-section">
  <ul class="bg-bubbles"> <!-- credit: codepen.io/Lewitje/pen/BNNJjo -->
    <div class="header-text">
      <h1>{{ site.title }}</h1>
      <h3>{{ page.title }}</h3>
    </div>
    {% if page.animate %}
    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    {% endif %}
  </ul>
</div>

<div id="main" role="main">
  <div class="create-link">
    <div markdown="0">
      <div class="row">
        {% include searchbar.html %}
      </div>
    <a href="/new" id="create-link" class="btn btn-primary">Add a Link</a> <a href="/about" class="btn btn-primary">About</a> <a href="/posts" class="btn btn-primary">All links</a>
    </div>
  </div>
  {{ content }}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
<script type="text/javascript">
  function updateWithNewSearchInput() {
    var shorturlInput = document.getElementById('link-searchbar');
    var createLinkButton = document.getElementById('create-link');
    var searchLinkButton = document.getElementById('search-link');
    var searchbarErrors = document.getElementById('searchbar-errors');

    createLinkButton.setAttribute('href', '/new');
    createLinkButton.innerHTML = "Add a Link";
    createLinkButton.className = "btn btn-primary";

    searchLinkButton.setAttribute('href', '/posts');
    searchLinkButton.innerHTML = "Search";
    searchLinkButton.className = "btn btn-info";

    searchbarErrors.style.display = "none";
    searchbarErrors.innerHTML = "";

    var errors = shorturlErrors(shorturlInput.value);

    var isEmpty = shorturlInput.value.length == 0;
    var isExistingLink = !isEmpty && errors === "link exists";
    var isOtherError = !isEmpty && !isExistingLink && errors != "None";

    if (isExistingLink) {
      searchLinkButton.innerHTML = "GO";
      searchLinkButton.href = "/".concat(shorturlInput.value);
      searchLinkButton.className = "btn btn-success";

      createLinkButton.innerHTML = "Link Exists";
      createLinkButton.href = "/".concat(shorturlInput.value);
      createLinkButton.className = "btn btn-primary";
    } else if (isOtherError) {
      searchLinkButton.className = "btn btn-danger";
      searchLinkButton.href = "/".concat(shorturlInput.value.replace(" ", "-"));

      searchbarErrors.style.display = "block";
      searchbarErrors.innerHTML = "Error: " + errors;
    } else { // free, legal link
      createLinkButton.className = "btn btn-info";
      createLinkButton.setAttribute('href', '/new?shorturl='+shorturlInput.value);
      createLinkButton.innerHTML = "Add This Link";

      searchLinkButton.href = "/".concat(shorturlInput.value.replace(" ", "-"));
    }
  }
  document.getElementById("link-searchbar").addEventListener("keyup", function(event) {
    event.preventDefault();
    updateWithNewSearchInput();
    if (event.keyCode == 13) {
      document.getElementById("search-link").click();
    }
  });
</script>
</html>
