<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
{% include link-checker.html %}
</head>

<style type="text/css">
  .row {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }

  input[type="text"] {
    width: 50%;
    height: 40px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 3px;
    text-align: center;
    transition: all 0.3s cubic-bezier(1, .1, 0, 0.9);
    margin-bottom: 10px;
  }
</style>

<script type="text/javascript">
  function showShorturlErrors() {
    var shorturlInput = document.getElementById('shorturl-input');
    var createLinkButton = document.getElementById('create-link');

    createLinkButton.setAttribute('href', '/new');
    var errors = shorturlErrors(shorturlInput.value);
    if (shorturlInput.value.length == 0) {
      createLinkButton.innerHTML = "Create a GO Link";
    } else if (errors != "None") {
      createLinkButton.innerHTML = errors;
    } else {
      createLinkButton.innerHTML = "/" + shorturlInput.value + " is available! Create link";
      createLinkButton.setAttribute('href', '/new?shorturl='+shorturlInput.value);
    }
  }
</script>

<body id="post-index" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}

<div class="entry-header">
  {% if page.image.feature %}
    <div class="entry-image">
      <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}">
    </div><!-- /.entry-image -->
  {% endif %}
  <div class="header-title">
    <div class="header-title-wrap">
      <h1>{{ site.title }}</h1>
      <h2>{{ page.title }}</h2>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->

<div id="main" role="main">
  <div class="create-link">
    <div markdown="0">
      <div class="row">
        <input type="text" name="shorturl-input" id="shorturl-input" maxlength="140" onkeyup="showShorturlErrors()" placeholder="Check link availability"/>
      </div>
    <a href="/new" id="create-link" class="btn btn-info">Create a GO Link</a> <a href="/about/#what-are-go-links" class="btn btn-primary">What are GO Links?</a>
    </div>
  </div>
  {{ content }}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
